
/* CSS for fixed height table, with scrollbars where the headings always stay
at the top.  Taken from https://stackoverflow.com/questions/21168521/scrollable-table-with-fixed-header-in-bootstrap
*/

table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    /* height of table body 40% of viewport */
    height: 40vh;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 19.2%;
    float: left;
}

/* controlling size of panel holding the JSME molecule display */
#jsme_container {
    /* height 40% of viewport */
    height: 40vh;
}
