/*
CSS for hsv app
Copyright David Cogrove, CozChemIx Limited 2017
david@cozchemix.co.uk
Distributed under the BSD license, contained in the file license.txt in
the same directory as this file.
*/

/* controlling size of panel holding the JSME molecule display */
#jsme_container {
    /* height 40% of viewport */
    height: 40vh;
    width: 100%;
    border: 2px solid #000000;
}

/* controlling size of panel holding the 3Dmol.js molecule display */
#threedmol_container {
    /* height 40% of viewport */
    height: 40vh;
    width: 100%;
    /* it would be nice to have a border, but 3Dmol hard-codes absolute */
    /* positions for the glviewer that put it left and above the border */
    /* in a manner that looks really pants. */
    /* border: 2px solid #000000; */
}

/* the container for the fixed-header table. */
#hsv-table-container {
    max-height: 35vh;
    overflow: auto;
    text-align: center;
}
